body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: 500;
    position: relative;
}

nav a:hover {
    color: #007bff;
}

/* Slideshow Section */
.slideshow {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.slide a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2e2040;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.slide a:hover {
    background-color: #2e2040;
}

/* Events Section */
.events-section {
    padding: 20px;
    background-color: #eef2f3;
}

.events-section h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.events-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.events-column {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

/* Courses Section */
.courses {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.courses h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.course-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.course-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
}

.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.course-card h3 {
    margin: 10px;
    font-size: 1.5rem;
    color: #333;
}

.course-card p {
    margin: 10px;
    font-size: 1rem;
    color: #666;
}

.course-card a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: #5b6774;
    font-weight: 500;
}

.course-card a:hover {
    text-decoration: underline;
}
footer {
    background-color: #2e2040;
    color: #a5a2a2;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .contact-section {
        padding: 0 10px;
    }
}